<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunyesle.microservices.common.code.CodeMapper">
    <select id="selectValue" parameterType="map" resultType="string">
        SELECT value
        FROM tb_code
        WHERE code_type = #{codeType}
        AND code = #{code}
    </select>

    <select id="selectByCodeTypes" parameterType="list" resultType="com.sunyesle.microservices.common.code.CodeRecord">
        SELECT code_type, code, value
        FROM tb_code
        WHERE code_type IN
        <foreach item="codeType" collection="codeTypes" open="(" separator="," close=")">
            #{codeType}
        </foreach>
        ORDER BY code_type, code
    </select>
</mapper>
