<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunyesle.microservices.common.customer.CustomerMapper">
    <select id="selectById" parameterType="map" resultType="com.sunyesle.microservices.common.customer.Customer">
        SELECT id, name, birthday, gender, address, phone_number, type, created_at, updated_at
        FROM tb_customer
        WHERE id = #{id}
    </select>
</mapper>
