<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunyesle.microservices.common.department.DepartmentMapper">
    <select id="selectById" parameterType="map" resultType="com.sunyesle.microservices.common.department.Department">
        SELECT id, name, created_at, updated_at
        FROM tb_dept
        WHERE id = #{id}
    </select>

    <select id="selectByIds" parameterType="list" resultType="com.sunyesle.microservices.common.department.Department">
        SELECT id, name, created_at, updated_at
        FROM tb_dept
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY id
    </select>
</mapper>
